<html class="gr__webmasters_stackexchange_com"><head>

        <title>DeveloperQ - 开发者问题网 - 海量问题解决方案</title>
    <link rel="shortcut icon" href="/static/img/quicktime.ico">

    <link rel="apple-touch-icon image_src" href="/static/img/quicktime.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">

<body class="questions-page new-topbar" data-gr-c-s-loaded="true">

<div id="notify-container"></div>
<div id="custom-header"></div>





<div class="topbar">
    <div class="topbar-wrapper">

        <div class="network-items">
            <a href="/">
                <img src="/static/img/developerq-mini.png">
            </a> 

        </div>

        <div class="topbar-links">


            <div class="search-container">
                <form id="search" action="/search" method="get" autocomplete="off">
                    <input name="q" type="text" placeholder="输入搜索内容" value="" tabindex="1" autocomplete="off" maxlength="360">
                </form>
            </div>

            <div class="links-container">
                    <span class="topbar-menu-links">


        <a href="#" class="icon-help js-help-button" title="Help Center and other resources">
            站点信息
            <span class="triangle"></span>
        </a>

        <a href="#" class="icon-help js-help-button" title="Help Center and other resources">
            关于本站
            <span class="triangle"></span>
        </a>

        <a href="#" class="icon-help js-help-button" title="Help Center and other resources">
            帮助
            <span class="triangle"></span>
        </a>

                    </span>
            </div>



        </div>
    </div>
</div>


<div class="container">
    <div id="header">
        <br class="cbt">
       <div id="hlogo">
           <!--<a href="http://www.developerq.com"> -->
                <img src="/static/img/developerq.png">
            <!--</a> -->
        </div>
        <div id="hmenus">
            <div class="nav mainnavs">
                <ul>
                    <li class="youarehere">
                        <a id="nav-questions" href="/questions" class="js-gps-track" data-gps-track="top_nav.click({is_current:true, location:3, destination:1})">
                            问题
                        </a>
                    </li>

                    <li>
                        <a id="nav-tags" href="/tags" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:2})">
                            标签
                        </a>
                    </li>

                    <li>
                        <a id="nav-users" href="/users" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:3})">
                            github项目
                        </a>
                    </li>

                    <li>
                        <a id="nav-badges" href="/help/badges" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:4})">
                            技术
                        </a>
                    </li>

                    <li>
                        <a id="nav-unanswered" href="/unanswered" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:5})">
                            博客
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav askquestion">
                <ul>
                    <li>
                        <a id="nav-askquestion" href="/questions/ask">提问</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


