<html>
<head>
    {{if eq .Type  "show"}}
    <title>{{.Article.TitleCNRaw}} - DeveloperQ - 开发者问题网 - 海量问题解决方案</title>
    {{else if eq .Type  "tag"}}
    <title>标记有{{.Tag}}的问题 - DeveloperQ - 开发者问题网 - 海量问题解决方案</title>
    {{else if eq .Type  "listreadme"}}
    <title>Github项目 - DeveloperQ - 开发者问题网 - 海量问题解决方案</title>
    {{else if eq .Type  "readme"}}
    <title>{{.ReadMe.Name}} - DeveloperQ - 开发者问题网 - 海量问题解决方案</title>
    {{else}}
    <title>DeveloperQ - 开发者问题网 - 海量问题解决方案</title>
    {{end}}

    <link rel="shortcut icon" href="/static/img/quicktime.ico">

    <link rel="apple-touch-icon image_src" href="/static/img/quicktime.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">

    {{if eq .Type  "readme"}}
    <link rel="stylesheet" type="text/css" href="/static/css/gh.css">
    {{end}}

    {{if eq .Type  "show"}}
    <meta name="Description" content="{{.Article.TitleCNRaw}} - DeveloperQ - 开发者问题网 - 海量问题解决方案">
    <meta name="Keywords" content="{{ range $i, $k := .Article.SeoKeywords}}{{$k}}, {{end}}" />
    {{else if eq .Type  "tag"}}
    <meta name="Description" content="标记有{{.Tag}}的问题，遇到IT问题上开发者问题网，海量问题解决方法，高效技术文档搜索引擎">
    <meta name="Keywords" content="{{.Tag}},IT问题,黑客,IT技术社区,编程社区,技术问答,技术文章,技术笔记,技术博客,技术活动,程序员,开发者,程序员,极客,编程,代码,开源" />
    {{else if eq .Type  "readme"}}
    <meta name="Description" content="{{.ReadMe.Name}}, {{.ReadMe.TitleCN}}">
    <meta name="Keywords" content="{{ range $i, $k := .ReadMe.SeoKeywords}}{{$k}}, {{end}}" />
    {{else if eq .Type  "blog"}}
    <meta name="Description" content="{{.Blog.Title}}">
    <meta name="Keywords" content="{{ range $i, $k := .BLog.SeoKeywords}}{{$k}}, {{end}}" />
    {{else}}
    <meta name="Description" content="DeveloperQ，遇到IT问题上开发者问题网，海量问题解决方法，高效技术文档搜索引擎">
    <meta name="Keywords" content="IT问题,黑客,IT技术社区,编程社区,技术问答,技术文章,技术笔记,技术博客,技术活动,程序员,开发者,程序员,极客,编程,代码,开源" />
    
    {{end}}

    <script>
        (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
        }
        else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
        })();
    </script>
<body class="questions-page new-topbar" data-gr-c-s-loaded="true">

<div id="notify-container"></div>
<div id="custom-header"></div>





<div class="topbar">
    <div class="topbar-wrapper">

        <div class="network-items">
            <a href="/">
                <img src="/static/img/developerq-mini.png">
            </a> 

        </div>

        <div class="topbar-links">


            <div class="search-container">
                <form id="search" action="/search" method="get" autocomplete="off">
                    <input name="q" type="text" placeholder="输入搜索内容" value="" tabindex="1" autocomplete="off" maxlength="360">
                </form>
            </div>

            <div class="links-container">
                    <span class="topbar-menu-links">


        <a href="#" class="icon-help js-help-button" title="Help Center and other resources">
            站点信息
            <span class="triangle"></span>
        </a>

        <a href="#" class="icon-help js-help-button" title="Help Center and other resources">
            关于本站
            <span class="triangle"></span>
        </a>

        <a href="#" class="icon-help js-help-button" title="Help Center and other resources">
            帮助
            <span class="triangle"></span>
        </a>

                    </span>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div id="header">
        <br class="cbt">
       <div id="hlogo">
           <!--<a href="http://www.developerq.com"> -->
                <img src="/static/img/developerq.png">
            <!--</a> -->
        </div>
        <div id="hmenus">
            <div class="nav mainnavs">
                <ul>
                    <li class="youarehere">
                        <a id="nav-questions" href="/questions" class="js-gps-track" data-gps-track="top_nav.click({is_current:true, location:3, destination:1})">
                            问题
                        </a>
                    </li>

                    <li>
                        <a id="nav-tags" href="/tags" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:2})">
                            标签
                        </a>
                    </li>

                    <li>
                        <a id="nav-unanswered" href="/listblog" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:5})">
                            技术博客
                        </a>
                    </li>

                    <li>
                        <a id="nav-users" href="/listreadme" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:3})">
                            github项目
                        </a>
                    </li>

                </ul>
            </div>
            <div class="nav askquestion">
                <ul>
                    <li>
                        <a id="nav-askquestion" href="/questions/ask">提问</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


