
    <div id="content">

        <div id="mainbar">
            <div class="subheader">
                <h1 id="h-all-questions">所有问题</h1>

                <div id="tabs">
                    <a class="youarehere" href="/questions?sort=newest" data-nav-xhref="" title="The most recently asked questions" data-value="newest" data-shortcut="N">
                        最新</a>
                    <a href="/questions?sort=featured" data-nav-xhref="" title="Questions with open bounties" data-value="featured" data-shortcut="E">
                        <span class="bounty-indicator-tab">1</span>            最热</a>
                    <a href="/questions?sort=frequent" data-nav-xhref="" title="Questions with the most links" data-value="frequent" data-shortcut="F">
                        最常见</a>
                    <a href="/questions?sort=votes" data-nav-xhref="" title="Questions with the most votes" data-value="votes" data-shortcut="V">
                        尚未回答</a>
                </div>

            </div>

            <div id="questions">
                {{ range $i, $a := .ListArticle}}
                    <div class="question-summary narrow">
                        <div onclick="window.location.href='/article/{{$a.UK}}'" class="cp">
                            <div class="views">
                                <div class="mini-counts"><span title="views">{{$a.ViewCountStr}}</span></div>
                                <div>访问</div>
                            </div>
                            <div class="votes">
                                <div class="mini-counts"><span title="votes">{{$a.VoteCountStr}}</span></div>
                                <div>采纳</div>
                            </div>
                        </div>

                        <div class="summary">
                            <h3><a href="/article/{{$a.UK}}" class="question-hyperlink" title="$a.QuestionCNRaw">{{$a.TitleCN}}</a></h3>
                            <div class="tags t-jquery t-css t-jquery-ui">
                              {{ range $i, $t := $a.TagsList}}
                                <a href="/tag/{{$t}}" class="post-tag">{{$t}}</a>
                                {{end}}
                            </div>
                            <div class="started">
                                <a class="started-link">更新时间 <span class="relativetime">{{$a.UpdateTime}}</span></a>
                            </div>
                        </div>
                    </div>
                    {{end}}

                <br class="cbt">

            </div>

            <br class="cbt">

            <div class="pager fl">
                <a href="/list/1"> <span class="page-numbers">首页</span> </a>
                {{ range $i, $b := .Before }}
                <a href="/list/{{$b}}"> <span class="page-numbers">{{$b}}</span> </a>
                {{end}}

                <span class="page-numbers current">{{.Current}}</span>

                {{ range $i, $b := .After }}
                <a href="/list/{{$b}}"> <span class="page-numbers">{{$b}}</span> </a>
                {{end}}
                <a href="/list/{{$.End}}"> <span class="page-numbers">末页</span> </a>
            </div>
            
        </div>
