
    <div id="content">

        <div id="mainbar">
            <div class="subheader">
                <h1 id="h-all-questions">所有Github项目</h1>

                <div id="tabs">
                    <a class="youarehere" href="/questions?sort=newest" data-nav-xhref="" title="The most recently asked questions" data-value="newest" data-shortcut="N">
                        最新</a>
                    <a href="/questions?sort=featured" data-nav-xhref="" title="Questions with open bounties" data-value="featured" data-shortcut="E">
                        <span class="bounty-indicator-tab">1</span>            最热</a>
                </div>

            </div>

            <div id="questions">
                {{ range $i, $a := .ListReadMe}}
                    <div class="question-summary narrow">
                        <div onclick="window.location.href='/readme/{{$a.UK}}'" class="cp">
                            <div class="views">
                                <div class="mini-counts"><span title="views">{{$a.ForkStr}}</span></div>
                                <div>Fork</div>
                            </div>
                            <div class="votes">
                                <div class="mini-counts"><span title="votes">{{$a.FollowStr}}</span></div>
                                <div>Follow</div>
                            </div>
                        </div>

                        <div class="summary">
                            <h3><a href="/readme/{{$a.UK}}" class="question-hyperlink" title="$a.QuestionCNRaw">{{$a.Name}}</a></h3>
<div class="excerpt">
                            {{$a.HTitleCN}}
                        </div>          
                            <div class="tags t-jquery t-css t-jquery-ui">
                              {{ range $i, $t := $a.LangList}}
                                <a href="/tag/{{$t}}" class="post-tag">{{$t}}</a>
                                {{end}}
                            </div>
                            <div class="started">
                                <a class="started-link">更新时间 <span class="relativetime">{{$a.UpdateTimeStr}}</span></a>
                            </div>
                        </div>
                    </div>
                    {{end}}

                <br class="cbt">

            </div>

            <br class="cbt">

            <div class="pager fl">
                <a href="/listreadme/1"> <span class="page-numbers">首页</span> </a>
                {{ range $i, $b := .Before }}
                <a href="/listreadme/{{$b}}"> <span class="page-numbers">{{$b}}</span> </a>
                {{end}}

                <span class="page-numbers current">{{.Current}}</span>

                {{ range $i, $b := .After }}
                <a href="/listreadme/{{$b}}"> <span class="page-numbers">{{$b}}</span> </a>
                {{end}}
                <a href="/listreadme/{{$.End}}"> <span class="page-numbers">末页</span> </a>
            </div>
            
        </div>
