
    <div id="content">

        <div id="mainbar">
            <div class="subheader search-header">
                <h1>搜索</h1>
            </div>
            <form id="bigsearch" action="/search" method="get">
                <table>
                    <tbody><tr>
                            <td class="col1"><input name="q" class="textbox" type="text" maxlength="140" size="80" value="{{.Keyword}}"></td>
                            <td class="col2"><input type="submit" value="搜索"></td>
                        </tr>
                </tbody></table>
            </form>

            <div class="subheader results-header">
                <h2>
                        "<b>{{.Keyword}}</b>" 共找到 {{.TotalFound}} <span class="results-label">搜索结果</span>
                </h2>
                
                <div id="tabs">
                    <a class="youarehere" href="/search?q={{.Keyword}}&sort=relevance" data-nav-xhref="" title="" data-value="相关性" data-shortcut="">
                        相关性</a>
                    <a href="/search?q={{.Keyword}}&sort=update" data-nav-xhref="" title="" data-value="newest" data-shortcut="">
                        最新</a>
                    <a href="/search?q={{.Keyword}}&sort=vote" data-nav-xhref="" title="" data-value="votes" data-shortcut="">
                        采纳</a>
                    <a href="/search?q={{.Keyword}}&sort=view" data-nav-xhref="" title="" data-value="votes" data-shortcut="">
                        访问</a>
                    
                </div>
            </div>
            <div class="search-results js-search-results">

                {{ range $i, $a := .SearchArticle}}

                <div class="question-summary search-result"  data-position="48">
                    <div class="statscontainer">
                        <div class="statsarrow"></div>
                        <div class="stats">
                            <div class="vote">
                                <div class="votes ">
                                    <span class="vote-count-post "><strong>{{$a.ViewCountStr}}</strong></span>
                                    <div class="viewcount">访问</div>
                                </div>
                            </div>
                            <div class="status answered-accepted">
                                <strong>{{$a.VoteCountStr}}</strong>采纳
                            </div>
                        </div>
                    </div>

                    <div class="summary">
                        <div class="result-link">
                            <span>
                                <a href="/article/{{$a.UK}}">{{$a.HTitleHighlight}}</a>
                            </span>
                        </div>
                        <div class="excerpt">
                            {{$a.HQuestionHighlight}}
                        </div>
                        <div class="tags user-tags">
                            {{ range $i, $t := $a.TagsList}}
                            <a href="/tag/{{$t}}" class="post-tag" rel="tag">{{$t}}</a>
                            {{end}}
                        </div>
                        <div class="started fr">
                            更新时间 <span class="relativetime">{{$a.UpdateTime}}</span>         </div>
                    </div>
                </div>
                {{end}}

            </div>


            <br class="cbt">
            
            <div class="pager fl">

                {{ range $i, $b := .Before }}
                <a href="/search?page={{$b}}&q={{$.Keyword}}"> <span class="page-numbers">{{$b}}</span> </a>
                {{end}}

                <span class="page-numbers current">{{.Current}}</span>

                {{ range $i, $b := .After }}
                <a href="/search?page={{$b}}&q={{$.Keyword}}"> <span class="page-numbers">{{$b}}</span> </a>
                {{end}}

            </div>

        </div>

        
