
<div id="content">
    <div id="mainbar">
    <div id="question-header">
        <div>
            <h1 itemprop="name"><a href="/article/{{.Article.UK}}" class="question-hyperlink">{{.Article.TitleCN}}</a>
            </h1>
        </div>

        <div class="question" id="question">

            <table>
                <tbody>
                    <tr>
                        <td class="votecell">
                            <div class="vote">
                                <b> 问题</b>
                            </div>

                        </td>

                        <td class="postcell">
                            <div>
                                {{.Article.HQuestionCN}}
                                <div>
                                    <div class="tags user-tags">
                                        {{ range $i, $t := .Article.TagsList}}
                                        <a href="/tag/{{$t}}" class="post-tag" rel="tag">{{$t}}</a>
                                        {{end}}
                                    </div>

                        </td>

                    </tr>
                </tbody>
            </table>
            </div>
            <br class="cbt">
            <hr>
            <div id="answers">

                <div class="answer accepted-answer" data-answerid="32908448" itemscope=""
                     itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
                    <table>
                        <tbody>
                            <tr>
                                <td class="votecell">
                                    <div class="vote">
                                        <b>解决方法</b>
                                    </div>

                                </td>
                                <td class="answercell">
                                    {{.Article.HAnswerCN}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
            <br class="cbt">
            <br class="cbt">

            <hr>
            <div>
                <h2>相关问题推荐</h2>
                {{ range $i, $a := .RandomArticle}}
                <div class="summary">
                    <h3><a href="/article/{{$a.UK}}" class="question-hyperlink" title="$a.QuestionCNRaw">{{$a.TitleCN}}</a>
                    </h3>
                </div>
                {{end}}
            </div>
            </div>

            
