<html class="gr__sobt5_org">
<head>
    <meta charset="UTF-8"><!--IE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gisele - Teste Anal_torrent种子下载,BT下载,迅雷下载,磁力链接-SOBT</title>
    <meta name="keywords" content="Gisele - Teste Anal BT种子下载,迅雷下载,magnet,torrent,磁力链接,ed2k,Gisele,Teste,Anal,SOBT">
    <meta name="description" content="种子文件Gisele - Teste Anal共有8个文件,总大小为212.26 MB,种子创建于2014-04-10">
    <link rel="stylesheet" href="/Public/static/css/style_v2.css" type="text/css">
    <script src="//hm.baidu.com/hm.js?e69b1229ff112354b3c288d672d008d8"></script>
    <script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script>var mid = '276583';
    var display = '0';</script>
</head>



<body data-gr-c-s-loaded="true" ><!--wrap-->
<div id="wrapper">
    <div class="top-bar"><span class="first"><a href="/">首页</a></span><span><a href="/tool/m2t">工具</a></span><span
            class="top_fav"><a href="/user/user/login" class="cur_login">登录</a></span></div>
    <div class="header-div">
        <form class="search-form" action="/" method="post"><a href="/" title="种子搜索"><img
                src="/Public/static/img/logomini.gif" alt="种子搜索" class="nav-logo"></a><input type="text" id="search"
                                                                                             title="Search" value=""
                                                                                             autocomplete="off" name="q"
                                                                                             placeholder="世界那么大,我想搜搜看"
                                                                                             x-webkit-speech=""><input
                type="submit" id="btnSearch" value="搜 索" class="blue"></form>
    </div>
    <div id="content">
        <div id="wall"><h1 class="res-title">Gisele - Teste Anal</h1>
            <div class="fileDetail"><span id="m_link" style="display:none">magnet:?xt=urn:btih:CEE671173382ACD8DD57DAD56E3FB1DC711777A7</span>
                <p><a href="/q/Gisele.html" target="_blank" class="pill">Gisele</a><a href="/q/Teste.html"
                                                                                      target="_blank"
                                                                                      class="pill">Teste</a><a
                        href="/q/Anal.html" target="_blank" class="pill">Anal</a></p>
                <p> 种子大小：212.26 MB</p>
                <p> 收录时间：2014-04-10</p>
                <p class="link_op"> 链接操作： <a href="javascript:;" onclick="ajaxp('good')">点赞<em id="goodnum">0</em></a><a
                        href="javascript:;" onclick="report();">dmca/举报</a></p>
                <p> 点击热度：<span id="hits_num">16</span></p>
                <p> 资源下载：<a href="magnet:?xt=urn:btih:CEE671173382ACD8DD57DAD56E3FB1DC711777A7"
                            class="download">磁力链接</a>&nbsp; <a href="javascript:;"
                                                               onclick="window.open('http://www.sobt5.com/tool/m2t?hash=CEE671173382ACD8DD57DAD56E3FB1DC711777A7')">下载种子</a>&nbsp;
                    <a href="#" id="copyi" data-clipboard-target="m_link" class="download">复制链接</a>&nbsp;<a
                            href="javascript:;" onclick="addfav();">加入收藏</a> &nbsp; <a href="#" target="_blank"
                                                                                       class="yubo">在线云播</a>&nbsp;
                </p>
                <p> 文件列表：8File</p></div>
            <script src="/Public/static/plugin/ZeroClipboard/ZeroClipboard.min.js"></script>
            <script>
                var clip = new ZeroClipboard($('#copyi'), {moviePath: "/Public/static/plugin/ZeroClipboard/ZeroClipboard.swf"});
                clip.on('complete', function (client, args) {
                    alert('复制成功')
                });
            </script>
            <ol>
                <li>Gisele - Teste Anal.avi<span class="cpill blue-pill">208.08 MB</span></li>
                <li>screens.jpg<span class="cpill blue-pill">1.62 MB</span></li>
                <li>main1.png<span class="cpill blue-pill">696.9 KB</span></li>
                <li>main4_bonus.png<span class="cpill blue-pill">605.94 KB</span></li>
                <li>main2.png<span class="cpill blue-pill">559.02 KB</span></li>
                <li>main3.png<span class="cpill blue-pill">548.11 KB</span></li>
                <li>cover_back.jpg<span class="cpill blue-pill">135.54 KB</span></li>
                <li>cover_front.jpg<span class="cpill blue-pill">76.48 KB</span></li>
            </ol>
            <div class="push"></div>
        </div>
    </div>
</div>
<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" data-clipboard-ready="true"
     style="position: absolute; left: -9999px; top: -9999px; width: 15px; height: 15px; z-index: 9999;">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%"
            height="100%">
        <param name="movie" value="/Public/static/plugin/ZeroClipboard/ZeroClipboard.swf?nocache=1492673296614">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="scale" value="exactfit">
        <param name="loop" value="false">
        <param name="menu" value="false">
        <param name="quality" value="best">
        <param name="bgcolor" value="#ffffff">
        <param name="wmode" value="transparent">
        <param name="flashvars" value="">
        <embed src="/Public/static/plugin/ZeroClipboard/ZeroClipboard.swf?nocache=1492673296614" loop="false"
               menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%"
               name="global-zeroclipboard-flash-bridge" allowscriptaccess="always" allowfullscreen="false"
               type="application/x-shockwave-flash" wmode="transparent"
               pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="" scale="exactfit">
    </object>
</div>

<!-- footer -->
<div class="footer"><span>©2017</span><span><a href="http://www.bilisou.com">哔哩搜</a>|<a
        href="http://blog.bilisou.com">哔哩搜段子</a>|<a href="http://www.developerq.com">开发者问题网</a></span></div>

<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script src="/Public/static/js/home-common-v2.js?v=20161124"></script>
<iframe class="bdSug_sd" style="display: none; position: absolute; border-width: 0px;"></iframe>
<div id="bdSug_1492673055651" class="bdSug_wpr" style="display: none;"></div>
<!--<script src="https://s1.guidashu.com/function-new.js?v=20161124"></script> -->
</body>
</html>
