<html class="bilisou_com">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最快最全的的BT,种子,迅雷百度网盘搜索引擎-哔哩搜</title>
    <meta name="keywords" content="bt搜索,种子搜索,bt下载,bt种子搜索器,磁力链接,磁力搜索,sobt">
    <meta name="description" content="sobt是一个bt种子搜索网站,拥有海量的种子数据,不间断更新,同时具有种子分享,种子下载,收藏等功能。">
    <link rel="stylesheet" href="static/css/bilisou.css" type="text/css">
    <script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/Public/static/img/apple_icon.jpg">
</head>
<body data-gr-c-s-loaded="true">
<div id="wrapper">
    <div class="top-bar"><span class="first"><span class="highlight-bar"></span><a href="/"
                                                                                   class="selected">首页</a></span><span><a
            href="/tool/m2t">工具</a></span><span class="top_fav"><a href="/user/user/login"
                                                                   class="cur_login">登录</a></span></div>
    <div id="first-content">
        <div id="center-box-wrapper">
            <div id="center-box">
                <div id="center-logo"><a href="/"><img src="/Public/static/img/logo.gif" alt="磁力搜索"></a></div>
                <div id="search-box">
                    <form id="search-form" action="/" method="post"><input type="text" id="search" name="q"
                                                                           autocomplete="off"
                                                                           placeholder="请输入您想的 影片输入英文更好哦"><input
                            type="submit" id="btnSearch" value="搜 索" class="blue"></form>
                    <div class="info-box">
                        <ul>
                            <li><a href="/q/%E7%88%B1%E4%B9%90%E4%B9%8B%E5%9F%8E.html">爱乐之城</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>

<!-- footer -->
<div class="footer"><span>©2017</span><span><a href="http://www.bilisou.com">哔哩搜</a>|<a
        href="http://blog.bilisou.com">哔哩搜段子</a>|<a href="http://www.developerq.com">开发者问题网</a></span></div>

<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script src="/Public/static/js/home-common-v2.js?v=20161124"></script>
<iframe class="bdSug_sd" style="display: none; position: absolute; border-width: 0px;"></iframe>
<div id="bdSug_1492673055651" class="bdSug_wpr" style="display: none;"></div>
<!--<script src="https://s1.guidashu.com/function-new.js?v=20161124"></script> -->
</body>
</html>
