<html lang="zh-CN" class="gr__biliworld_com">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
      <meta name="Description" content="{{.Blog.Title}} 搞笑段子- 哔哩搜 - 搞笑段子集锦，汇集全网笑料">
      <meta name="Keywords" content="哔哩搜, 百度网盘, 搞笑段子, {{ range $i, $k := .Blog.SeoKeywords}}{{$k}}, {{end}}" />

      <title>{{.Blog.Title}} 搞笑段子 - 哔哩搜 - 搞笑段子集锦</title>
      
      <link href="/static/img/search.ico" rel="shortcut icon">
      <link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style0_32.css?v=4413acf0.css">
      <link rel="stylesheet" href="/static/css/style.css">
      <script>
         (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
               bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
               bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
         })();
      </script>
   </head>
   <body data-gr-c-s-loaded="true" onkeydown="keyLogin();">
      <div class="container">
         <div class="top">
            <div class="logo">
               <h1><a href="/" title="哔哩搜搞笑段子 - 搞笑段子集锦，汇集全网笑料" id="logo" data-hveid="3"><img src="/static/img/logo.png" alt="bilisou.com"></a></h1>
            </div>
            <div class="form">
                <div class="out">
                    <button class="submit" value="Google 搜索" aria-label="Google 搜索" onclick="search()" id="searchbutton">
                        <span class="sbico _wtf _Qtf">
                           <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                           </svg>
                        </span>
                    </button>
                    <div class="inner"><input class="query" id="searchinput" maxlength="2048" name="q" autocomplete="off" title="博客搜索" type="text" value="" aria-label="搜索" aria-haspopup="false" role="combobox" aria-autocomplete="both" dir="ltr" spellcheck="false" style=""></div>
                </div>
            </div>
         </div>
         <div class="nav">
            <div class="types">
                <div class="item "> <a href="/list/0">所有博文</a> </div>
               <div class="item "> <a href="/list/1/">搞笑段子</a> </div>
               <div class="item "> <a href="/list/2/">糗事百科</a> </div>
               <div class="item "> <a href="/list/3/">明星八卦</a> </div>
               <div class="item "> <a href="/list/4/">深度好文</a> </div>
               <div class="item "> <a href="/list/5/">时事点评</a> </div>
               <div class="item "> <a href="/list/6/">心灵鸡汤</a> </div>
               <div class="item "> <a href="/list/7/">养生专家</a> </div>
               <div class="item "> <a href="/list/8/">游戏世界</a> </div>
            </div>
         </div>
         <div class="main">
            <div class="content">

<!--- list page --->
               {{if eq .Type  "lost"}}
                <h1>您查找页面也许去火星了。。。。</h1>
               <iframe scrolling='no' frameborder='0' src='http://yibo.iyiyun.com/Home/Distribute/ad404/key/1249334' width='654' height='470' style='display:block;'></iframe>
               {{end}}
<!--- list page end -->

<!--- list page --->
               {{if eq .Type  "listblog"}}
               <div class="took">当前位置： 第{{.Current}}页</div>

               <div id="res">

                  {{ range $i, $s := .ListBlog}}
                  <div class="g">
                     <div class="rc">
                        <h3 class="r"><a href="/blog/{{$s.UK}}" target="_blank">{{ $s.Title }}</a></h3>
                        <div class="s">
                           <div>
                               <span class="st"><span>文章类型：</span>
                                   <span class="u"><a target="_blank" href="/list/{{$s.Category}}">{{$s.CategoryStr}}</a></span>
                               </span>
                               <span class="st"><span>浏览次数：</span> 1032</span>
                               <span class="st"><span>更新日期：</span> {{$s.UpdateTimeStr}}</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  {{ end }}
               </div>

               <div id="navcnt">
                  <table role="presentation">
                     <tbody>
                        <tr valign="top">

                           <td> <a class="fl" href="/list/{{.CategoryInt}}/1"><span>首页</span></a> </td>

                           {{ range $i, $b := .Before }}
                           <td><a class="fl" href="/list/{{$.CategoryInt}}/{{$b}}"><span>{{$b}}</span></a></td>
                           {{ end }}

                           <td> <span class="fl current">{{.Current}}</span> </td>

                           {{ range $i, $a := .After }}
                           <td><a class="fl" href="/list/{{$.CategoryInt}}/{{$a}}"><span>{{$a}}</span></a></td>
                           {{ end }}

                           <td><a class="fl" href="/list/{{.CategoryInt}}/{{.End}}"><span>末页</span></a></td>

                        </tr>
                     </tbody>
                  </table>
               </div>
               {{end}}

                {{if eq .Type "blog"}}
                <div class="took"><h2>{{.Blog.Title}}</h2></div>
                <div class="took">
                    <div class="s">
                        <div>
                            <span class="st"><span>文章类型：</span> <span class="u"><a target="_blank" href="/list/{{.Blog.Category}}">{{.Blog.CategoryStr}}</a></span></span>
                            <span class="st"><span>浏览次数：</span> 1032</span>
                            <span class="st"><span>更新日期：</span> {{.Blog.UpdateTimeStr}}</span>
                        </div>
                    </div>
                </div>

                <div class="took">
                    {{.Blog.HContent}}
                </div>
                {{end}}

               <!--list paging end -->
               <div class="title">
                  <h4>猜你可能喜欢</h4>
               </div>
               <div class="tags">
                  <ol>
                     {{ range $i, $s := .SideBarBlog}}
                     <li><a href="/blog/{{$s.UK}}/" target="_blank" title="{{$s.Title}}">{{$s.Title}}</a></li>
                     {{end}}
                  </ol>
               </div>

            </div>
         </div>
         <div class="footer">

            <div class="finner"><span class="flink">找资源上哔哩搜，速度最快资源最多的网盘搜索神器，日常必备的网盘搜索工具。</span> <span class="flink">本站仅提供百度云盘资源搜索服务，信息均来源于百度网盘。</span></div>
            <span><a class="flink" target="_blank" href="http://www.developerq.com" title="开发者问题网">开发者问题网</a>  </span>
         </div>
      </div>
       </body>
</html>