<html class="bilisou_com">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Blog.Title}} - 搞笑段子 - 哔哩搜 - 搞笑段子集锦</title>

    <meta name="Description" content="{{.Blog.Title}} 搞笑段子- 哔哩搜 - 搞笑段子集锦，汇集全网笑料">
    <meta name="Keywords" content="哔哩搜, 百度网盘, 搞笑段子, {{ range $i, $k := .Blog.SeoKeywords}}{{$k}}, {{end}}" />

    <link rel="stylesheet" href="/static/css/bilisou.css" type="text/css">
    <script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/bilisou.ico">
     <script>
         (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
               bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
               bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
         })();
      </script>


</head>
<body data-gr-c-s-loaded="true">
<div id="wrapper">


    <div class="top-bar">
        <span class="first"><a href="/">首页</a></span>
        <!--<span class="first"><a href="/list/1">列表</a></span>-->
        <span><a href="/list" >列表</a></span>
        <span><span class="highlight-bar"></span><a href="/" class="selected">段子</a></span>
        <span class="first"><a href="/">电影</a></span>
        <span class="top_fav"><a href="/login" class="cur_login">登录</a></span>
        
    </div>


    <div id="content">
        <div id="wall">
   <div class="header-div">
           <a href="/"> <img src="/static/img/s-log.png" alt="哔哩搜" class="nav-logo"></a><input type="text" id="search"
                                                                                             title="Search"
                                                                                             
                                                                                             autocomplete="off" name="q"
                                                                                             placeholder="随便搜搜"
                                                                                             x-webkit-speech="" onkeydown="keysearch()">
            <input type="submit" id="searchbutton" value="搜 索" class="blue" onclick="search()">
    </div>



            <div class="took"><h1>{{.Blog.Title}}</h1></div>
            <div class="took">
                <div class="s">
                    <div>
                        <span class="st"><span>文章类型：</span> <span class="u"><a target="_blank" href="/list/{{.Blog.Category}}">{{.Blog.CategoryStr}}</a></span></span>
                        <span class="st"><span>浏览次数：</span> 1032</span>
                        <span class="st"><span>更新日期：</span> {{.Blog.UpdateTimeStr}}</span>
                    </div>
                </div>
            </div>

            <div class="took">
                {{.Blog.HContent}}
            </div>


            <div class="push"></div>
            <div class="title">
                <h4>相关资源推荐</h4>
            </div>
            <div>
                <ol>
                    {{ range $i, $s := .SideBarBlog}}
                    <li><a href="/blog/{{$s.UK}}/" target="_blank" title="{{$s.Title}}">{{$s.Title}}</a></li>
                    {{end}}
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" data-clipboard-ready="true"
     style="position: absolute; left: -9999px; top: -9999px; width: 15px; height: 15px; z-index: 9999;">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%"
            height="100%">
        <param name="movie" value="/Public/static/plugin/ZeroClipboard/ZeroClipboard.swf?nocache=1492673296614">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="scale" value="exactfit">
        <param name="loop" value="false">
        <param name="menu" value="false">
        <param name="quality" value="best">
        <param name="bgcolor" value="#ffffff">
        <param name="wmode" value="transparent">
        <param name="flashvars" value="">
        <embed src="/Public/static/plugin/ZeroClipboard/ZeroClipboard.swf?nocache=1492673296614" loop="false"
               menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%"
               name="global-zeroclipboard-flash-bridge" allowscriptaccess="always" allowfullscreen="false"
               type="application/x-shockwave-flash" wmode="transparent"
               pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="" scale="exactfit">
    </object>
</div>


<!-- footer -->
<div class="footer"><span>©2017</span><span><a href="http://www.bilisou.com">哔哩搜</a>|<a
        href="http://blog.bilisou.com">哔哩搜段子</a>|<a href="http://www.developerq.com">开发者问题网</a></span></div>
<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script type="text/javascript" src="/static/js/bilisou.js"></script>
<script src="/Public/static/js/home-common-v2.js?v=20161124"></script>
<iframe class="bdSug_sd" style="display: none; position: absolute; border-width: 0px;"></iframe>
<div id="bdSug_1492673055651" class="bdSug_wpr" style="display: none;"></div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261815337'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261815337' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
