
<!-- footer -->
<div class="footer"><span>©2017</span><span><a href="http://www.bilisou.com">哔哩搜</a>|<a
        href="http://blog.bilisou.com">哔哩搜段子</a>|<a href="http://www.developerq.com">开发者问题网</a></span></div>
<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script src="/Public/static/js/home-common-v2.js?v=20161124"></script>
<iframe class="bdSug_sd" style="display: none; position: absolute; border-width: 0px;"></iframe>
<div id="bdSug_1492673055651" class="bdSug_wpr" style="display: none;"></div>
<!--<script src="https://s1.guidashu.com/function-new.js?v=20161124"></script> -->
</body>
</html>
