<html class="bilisou_com">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最快最全的的BT,种子,迅雷百度网盘搜索引擎-哔哩搜</title>
    <meta name="description" content="哔哩搜 - 最快最全的资源搜索引擎">
    <meta name="keywords" content="哔哩搜,bilisou, 百度网盘, 网盘搜索, 迅雷下载，BT下载，福利">
    <link rel="stylesheet" href="/static/css/bilisou.css" type="text/css">
    <script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/bilisou.ico">
    
    <link rel="apple-touch-icon" href="/Public/static/img/apple_icon.jpg">
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

</head>
<body data-gr-c-s-loaded="true">
<div id="wrapper">


    <div class="top-bar">
        <span class="first"><span class="highlight-bar"></span><a href="/" class="selected">首页</a></span>
        <!--<span class="first"><a href="/list/1">列表</a></span>-->
        <span><a href="/list">列表</a></span>
        <span class="first"><a href="/blist/">段子</a></span>
        <span class="first"><a href="/">电影</a></span>
        <span class="top_fav"><a href="/login" class="cur_login">登录</a></span>

    </div>
    <div id="first-content">
        <div id="center-box-wrapper">
            <div id="center-box">
                <div id="center-logo"><a href="/"><img src="/static/img/b-log.png" alt="哔哩搜"></a></div>
                <div id="search-box">

                    <input type="text" id="search" name="q" autocomplete="off" placeholder="请输入搜索内容"
                           onkeydown="keysearch()">
                    <input type="submit" id="searchbutton" value="搜 索" class="blue" onclick="search()">
                    <div class="info-box">
                        <ul>
                            {{ range $i, $k := .Keywords }}
                            <li><a href="/search/{{$k}}">{{$k}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>


<!-- footer -->
<div class="footer"><span>©2017</span><span><a href="http://www.bilisou.com">哔哩搜</a>|<a
        href="http://blog.bilisou.com">哔哩搜段子</a>|<a href="http://www.developerq.com">开发者问题网</a></span></div>
<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script type="text/javascript" src="/static/js/bilisou.js"></script>

<iframe class="bdSug_sd" style="display: none; position: absolute; border-width: 0px;"></iframe>
<div id="bdSug_1492673055651" class="bdSug_wpr" style="display: none;"></div>
<!--<script src="https://s1.guidashu.com/function-new.js?v=20161124"></script> -->
</body>
</html>
